body {
  font-family: Arial, sans-serif;
  background-color: black;
}

.logo {
  width: 200px;
  margin-top: -30px;
  margin-left: -5px; 
  display: inline-block;
}

.pic {
  width: 400px;
  height: 400px; 
  border-radius: 50%;
  border: 5px solid #00aaff;
  display: inline-block;
  margin-left: 305px;
  margin-top: 45px;
}

.text {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  max-width: 700px;
  display: inline-block;
  vertical-align: top; 
  margin-left: 30px;
  margin-top: -25px;
}

.text:hover{
  background-color: rgb(180, 228, 192);
}

.subh {
  font-size: 40px;
  font-weight: bold;
  width: 20px;
  
}

.para {
  font-size: 21.5px;
  line-height: 1.8;
  color: gray;
  margin-top: 20px;
 
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;

}

.btn:hover {
  background-color: #0088cc;
}

.btn:active{
  background-color: black;
}
